In [5]:
import pandas as pd

In [6]:
import numpy as np

In [7]:
np.random.randn(10,2)

array([[ 0.66661836,  0.0828946 ],
       [-0.6382045 ,  0.39380495],
       [-0.44486564, -0.8282777 ],
       [-0.61658119, -0.98508651],
       [ 0.56557749,  0.94018277],
       [-2.15290097,  0.77208656],
       [ 1.23124515,  0.31616061],
       [ 0.03139605,  0.44563384],
       [ 0.25956246, -1.25653943],
       [ 0.91959316, -1.39941532]])

In [8]:
unsorted_df = pd.DataFrame(np.random.randn(10,2), index =[1,2,3,4,5,6,7,8,9,10], columns = ['col2', 'col1'])

In [9]:
print(unsorted_df)

        col2      col1
1  -0.731271  0.657886
2   1.260469 -1.523024
3   1.369757 -0.360887
4   0.258789 -0.147061
5  -0.701858  1.281647
6  -0.130156  0.330118
7   0.520225  0.859948
8  -0.739111  0.198110
9   0.330976 -0.568613
10 -1.613665 -1.963895

In [12]:
sorted = unsorted_df.sort_index()

In [13]:
sorted

        col2      col1
1  -0.731271  0.657886
2   1.260469 -1.523024
3   1.369757 -0.360887
4   0.258789 -0.147061
5  -0.701858  1.281647
6  -0.130156  0.330118
7   0.520225  0.859948
8  -0.739111  0.198110
9   0.330976 -0.568613
10 -1.613665 -1.963895

In [14]:
sorted_df1 = unsorted_df.sort_index(axis=1)

In [15]:
sorted_df1

        col1      col2
1   0.657886 -0.731271
2  -1.523024  1.260469
3  -0.360887  1.369757
4  -0.147061  0.258789
5   1.281647 -0.701858
6   0.330118 -0.130156
7   0.859948  0.520225
8   0.198110 -0.739111
9  -0.568613  0.330976
10 -1.963895 -1.613665

In [18]:
sorted_df2 = unsorted_df.sort_values(by='col1')
sorted_df2

        col2      col1
10 -1.613665 -1.963895
2   1.260469 -1.523024
9   0.330976 -0.568613
3   1.369757 -0.360887
4   0.258789 -0.147061
8  -0.739111  0.198110
6  -0.130156  0.330118
1  -0.731271  0.657886
7   0.520225  0.859948
5  -0.701858  1.281647

In [19]:
unsorted_df = unsorted_df.sort_values(by='col1')
unsorted_df

        col2      col1
10 -1.613665 -1.963895
2   1.260469 -1.523024
9   0.330976 -0.568613
3   1.369757 -0.360887
4   0.258789 -0.147061
8  -0.739111  0.198110
6  -0.130156  0.330118
1  -0.731271  0.657886
7   0.520225  0.859948
5  -0.701858  1.281647

In [21]:
sorted_df3 = unsorted_df.sort_values(by=['col1', 'col2'])
sorted_df3

        col2      col1
10 -1.613665 -1.963895
2   1.260469 -1.523024
9   0.330976 -0.568613
3   1.369757 -0.360887
4   0.258789 -0.147061
8  -0.739111  0.198110
6  -0.130156  0.330118
1  -0.731271  0.657886
7   0.520225  0.859948
5  -0.701858  1.281647

In [ ]:
#groupby
import pandas as pd
ipl_data={'Team': ['Riders', 'Riders', 'Devils', 'Kings','Kings', 'Royals'],
            }

In [24]:
pd.datetime(2018,7,19)
print('pd.datetime')

pd.datetime